# Importing the libraries

In [296]:

import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score,confusion_matrix

from sklearn.naive_bayes import GaussianNB

In [297]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2)

# Reading The Dataset

In [298]:
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

# Info of the Dataset

In [299]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

# Replace commas to make two classes not four

In [300]:
y['income']=[i.replace('.','') for i in y['income']]

C:\Users\hazem\AppData\Local\Temp\ipykernel_12076\3639172686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['income']=[i.replace('.','') for i in y['income']]

# Apply one-hot encoding to categorical variables

In [301]:

categorical_cols = X.select_dtypes(include=['object']).columns
inputs = pd.get_dummies(X[categorical_cols])

In [302]:
X=pd.concat([X,inputs],axis=1)
print(X)

       age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64               NaN  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  ...  native-country_Portugal  \
0                   White    Male  ...                    False
1                   White    Male  ...                    False
2                   White    Male  ...                    False
3                   Black    Male  ...                    False
4                   Black  Female  ...                    False
...                   ...     ...  ...                      ...
48837               White  Female  ...                    False
48838               Black    Male  ...                    False
48839               White    Male  ...                    False
48840  Asian-Pac-Islander    Male  ...                    False
48841               White    Male  ...                    False

       native-country_Puerto-Rico  native-country_Scotland  \
0                           False                    False
1                           False                    False
2                           False                    False
3                           False                    False
4                           False                    False
...                           ...                      ...
48837                       False                    False
48838                       False                    False
48839                       False                    False
48840                       False                    False
48841                       False                    False

      native-country_South  native-country_Taiwan  native-country_Thailand  \
0                    False                  False                    False
1                    False                  False                    False
2                    False                  False                    False
3                    False                  False                    False
4                    False                  False                    False
...                    ...                    ...                      ...
48837                False                  False                    False
48838                False                  False                    False
48839                False                  False                    False
48840                False                  False                    False
48841                False                  False                    False

       native-country_Trinadad&Tobago  native-country_United-States  \
0                               False                          True
1                               False                          True
2                               False                          True
3                               False                          True
4                               False                         False
...                               ...                           ...
48837                           False                          True
48838                           False                          True
48839                           False                          True
48840                           False                          True
48841                           False                          True

       native-country_Vietnam  native-country_Yugoslavia
0                       False                      False
1                       False                      False
2                       False                      False
3                       False                      False
4                       False                      False
...                       ...                        ...
48837                   False                      False
48838                   False                      False
48839                   False                      False
48840                   False                      False
48841                   False                      False

[48842 rows x 116 columns]

# Drop Categorical Columns

In [303]:
X=X.drop(categorical_cols ,axis=1)
data=pd.concat([X,y],axis=1)
data.dropna(inplace=True)
print(data)

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

       workclass_?  workclass_Federal-gov  workclass_Local-gov  \
0            False                  False                False
1            False                  False                False
2            False                  False                False
3            False                  False                False
4            False                  False                False
...            ...                    ...                  ...
48837        False                  False                False
48838        False                  False                False
48839        False                  False                False
48840        False                  False                False
48841        False                  False                False

       workclass_Never-worked  ...  native-country_Puerto-Rico  \
0                       False  ...                       False
1                       False  ...                       False
2                       False  ...                       False
3                       False  ...                       False
4                       False  ...                       False
...                       ...  ...                         ...
48837                   False  ...                       False
48838                   False  ...                       False
48839                   False  ...                       False
48840                   False  ...                       False
48841                   False  ...                       False

       native-country_Scotland  native-country_South  native-country_Taiwan  \
0                        False                 False                  False
1                        False                 False                  False
2                        False                 False                  False
3                        False                 False                  False
4                        False                 False                  False
...                        ...                   ...                    ...
48837                    False                 False                  False
48838                    False                 False                  False
48839                    False                 False                  False
48840                    False                 False                  False
48841                    False                 False                  False

       native-country_Thailand  native-country_Trinadad&Tobago  \
0                        False                           False
1                        False                           False
2                        False                           False
3                        False                           False
4                        False                           False
...                        ...                             ...
48837                    False                           False
48838                    False                           False
48839                    False                           False
48840                    False                           False
48841                    False                           False

       native-country_United-States  native-country_Vietnam  \
0                              True                   False
1                              True                   False
2                              True                   False
3                              True                   False
4                             False                   False
...                             ...                     ...
48837                          True                   False
48838                          True                   False
48839                          True                   False
48840                          True                   False
48841                          True                   False

       native-country_Yugoslavia  income
0                          False   <=50K
1                          False   <=50K
2                          False   <=50K
3                          False   <=50K
4                          False   <=50K
...                          ...     ...
48837                      False   <=50K
48838                      False   <=50K
48839                      False   <=50K
48840                      False   <=50K
48841                      False    >50K

[48842 rows x 109 columns]

# Split the data into training and testing sets

In [304]:

X_train, X_test, y_train, y_test = train_test_split(data.drop('income',axis=1), data['income'], test_size=0.3, random_state=42)

In [305]:
model=GaussianNB()
model.fit(X_train,y_train)
print(X_test)

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
7762    18  423024              9             0             0              20
23881   17  178953              8             0             0              20
30507   25  348986              9             0             0              40
28911   20  218215             10             0             0              30
19484   47  244025              9             0             0              56
...    ...     ...            ...           ...           ...             ...
15938   53  158284              9             0             0              70
27828   37  286146              9             0             0              40
28449   61  227468              9             0             0              40
5647    30  164190              9             0             0              38
27058   30   48542              8             0             0              40

       workclass_?  workclass_Federal-gov  workclass_Local-gov  \
7762         False                  False                False
23881        False                  False                False
30507        False                  False                 True
28911        False                  False                False
19484        False                  False                False
...            ...                    ...                  ...
15938        False                  False                False
27828        False                  False                False
28449        False                  False                False
5647         False                  False                False
27058        False                  False                 True

       workclass_Never-worked  ...  native-country_Portugal  \
7762                    False  ...                    False
23881                   False  ...                    False
30507                   False  ...                    False
28911                   False  ...                    False
19484                   False  ...                    False
...                       ...  ...                      ...
15938                   False  ...                    False
27828                   False  ...                    False
28449                   False  ...                    False
5647                    False  ...                    False
27058                   False  ...                    False

       native-country_Puerto-Rico  native-country_Scotland  \
7762                        False                    False
23881                       False                    False
30507                       False                    False
28911                       False                    False
19484                        True                    False
...                           ...                      ...
15938                       False                    False
27828                       False                    False
28449                       False                    False
5647                        False                    False
27058                       False                    False

       native-country_South  native-country_Taiwan  native-country_Thailand  \
7762                  False                  False                    False
23881                 False                  False                    False
30507                 False                  False                    False
28911                 False                  False                    False
19484                 False                  False                    False
...                     ...                    ...                      ...
15938                 False                  False                    False
27828                 False                  False                    False
28449                 False                  False                    False
5647                  False                  False                    False
27058                 False                  False                    False

       native-country_Trinadad&Tobago  native-country_United-States  \
7762                            False                          True
23881                           False                          True
30507                           False                          True
28911                           False                          True
19484                           False                         False
...                               ...                           ...
15938                           False                          True
27828                           False                          True
28449                           False                          True
5647                            False                         False
27058                           False                          True

       native-country_Vietnam  native-country_Yugoslavia
7762                    False                      False
23881                   False                      False
30507                   False                      False
28911                   False                      False
19484                   False                      False
...                       ...                        ...
15938                   False                      False
27828                   False                      False
28449                   False                      False
5647                    False                      False
27058                   False                      False

[14653 rows x 108 columns]

In [306]:
y_predict=model.predict(X_test)
print(y_predict)

['<=50K' '<=50K' '<=50K' ... '<=50K' '<=50K' '<=50K']

# accuracy score

In [307]:
print(accuracy_score(y_test,y_predict))

0.7956732409745445

# Confusion Matrix

In [308]:

conf_mat = confusion_matrix(y_test,y_predict)
print("Confusion matrix:",conf_mat)

tn, fp, fn, tp = conf_mat.ravel()

senstivity = tp / (tp+fn)
specifity = tn / (tn+fp)

print("Senstivity: ", senstivity)
print("Specifity: ", specifity)

Confusion matrix: [[10575   534]
 [ 2460  1084]]
Senstivity:  0.3058690744920993
Specifity:  0.9519308668647043

# prosterior prob of all data

In [309]:
prosterior_prob=model.predict_proba(data.drop('income',axis=1))
print(prosterior_prob[:,1])

[0.12458152 0.0042687  0.00940912 ... 0.02299824 0.99998551 0.02830668]

# prosterior prob of test data

In [310]:
prosterior_prob=model.predict_proba(X_test)
print(prosterior_prob[:,1])

[0.0003614  0.00033922 0.00311577 ... 0.01368053 0.00481139 0.00488423]